{% extends 'nav_link.html' %}

{% block title %} A-Z Household Services {% endblock title %}

{% block content %}
<div>
    <h1>Available Professionals</h1>
    <div class="row">
        {% for professional in users %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{url_for('static',filename=professional.pfp_url)}}" class="card-img-top" height = 300rem>
                <div class="card-body">
                    <h5 class="card-title">{{ professional.name }}</h5>
                    <p class="card-text">{{ professional.profession }}</p>
                    <p class="card-text">{{ professional.address }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ url_for('book_professional', professional_id=professional.id, service_id = service.id) }}" class="btn btn-sm btn-outline-secondary">Book</a>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}