{% extends 'nav_link.html' %}

{% block title %} Users: A-Z Household Services {% endblock title %}

{% block content %}
<div class = "container-fluid m=4">
    <h1 class = "text-center">All Users</h1>
    <h3>Approved Professionals</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Profession</th>
                    <th>Experience</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Professional's Image</th>
                    <th>Professional's Document</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in approved_professionals %}
                    <tr>
                        <td>{{user.name}}</td>
                    <td>{{user.profession}}</td>
                    <td>{{user.experience}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contact_no}}</td>
                    <td><img src="{{url_for('static', filename=user.pfp_url)}}" alt="Image" width="50" height="50"></td>
                    <td><a href={{url_for('static',filename=user.document_url)}}>View Document</a></td>
                    <td>
                        {% if user.is_blocked %}
                            <a href={{url_for('unblock_user',id=user.id)}} class="btn btn-primary">Unblock</a>
                        {% else %}
                            <a href={{url_for('block_user',id=user.id)}} class="btn btn-danger">Block</a>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h3> Approval Requests </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Profession</th>
                <th>Experience</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Professional's Image</th>
                <th>Professional's Document</th>
                <th>Action</th
            </tr>
        </thead>
        <tbody>
            {% for user in unapproved_professionals %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.profession}}</td>
                    <td>{{user.experience}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contact_no}}</td>
                    <td><img src="{{url_for('static', filename=user.pfp_url)}}" alt="Image" width="50" height="50"></td>
                    <td><a href={{url_for('static',filename=user.document_url)}}>View Document</a></td>
                    <td>
                        <a href={{url_for('approve_professional',id=user.id)}} class="btn btn-primary">Accept</a>
                        <a href={{url_for('reject_professional',id=user.id)}} class="btn btn-danger">Reject</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3> Customers </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Customer's Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in customers %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contact_no}}</td>
                    <td><img src="{{url_for('static', filename=user.pfp_url)}}" alt="Image" width="50" height="50"></td>
                    <td>
                        {% if user.is_blocked %}
                            <a href={{url_for('unblock_user',id=user.id)}} class="btn btn-primary">Unblock</a>
                        {% else %}
                            <a href={{url_for('block_user',id=user.id)}} class="btn btn-danger">Block</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}